:root{
    --primary-color:#212121;
    --grey-color:#757575;
    --blue-color:#2196F3;
    --white-color:#FFFFFF;
    --primary-bg-color:#F5F4FA;
    --back-color:#2196F3;
    --footer-color:#2F303A;
    --background-color: #fff;
    --border-color:#EEEEEE;
    --border-icon:#AFB1B8;
    --clients-bg:#E5E5E5;
    --footer-primary-color:rgba(255, 255, 255, 0.6);
    --footer-bg-icon:rgba(255, 255, 255, 0.1);
    --gradient:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    --card-gap: 30px;
    --card-item: 4;

}
body {
    color: var(--grey-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}

h1,
h2,
h3,
h4,
p  { 
    margin: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
    color: currentColor;
}

.container{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-gap));
    margin-top: calc(-1 * var(--card-gap));
  }


.card-item{
    flex-basis: calc(100% / var(--card-item) - var(--card-gap));
    margin-left: var(--card-gap);
    margin-top: var(--card-gap); 
    }

/*header*/

.header{
    font-weight: 500;
    line-height:1.14;
    letter-spacing: 0.02em;
}

.header-container{
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
    color: var(--primary-color);
}


/*logo*/ 

.logo { 
    color:var(--blue-color);
    font-family: 'Raleway', cursive;
    font-weight: 700;
    font-size: 26px;
    line-height:1.2;
    text-decoration: none;
}

.header
.logo{
    margin-right: 93px;
}

.logo:hover,.logo:focus {
    color: var(--primary-color);
}

.logo-black{
    color: var(--primary-color);
}

.logo-black:hover, .logo-black:focus{
    color: var(--blue-color);
}

/*site-nav*/

.site-nav{
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-link,
.auth-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav .link:hover, .site-nav .link:focus {
    color: var(--blue-color);
}



/*auth-nav*/

.auth-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-left: auto;
}

.auth-nav .link:hover, .auth-nav .link:focus{
    color: var(--blue-color);
}

.mail-icon{
    margin-right: 10px;
    fill: currentColor;
  }

.auth-nav .link:hover,
.auth-nav .link:focus{
    color: var(--blue-color);
    --color3:var(--blue-color);
}

  

/*Button*/

.filter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    margin-bottom: 56px;
}

.filter-button{
    padding: 6px 22px;
    cursor: pointer;
    font-family: inherit;
    background-color: var(--primary-bg-color);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.filter-button:hover, .filter-button:focus{
    background-color: var(--blue-color);
    color: var(--white-color);
    }


/*Hero*/

.hero{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: var(--gradient),
    url(../images/images-index/fon.jpg);       
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;
}

.hero-title{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 696px;

    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.hero-button{
    padding: 10px 32px;
    min-width: 200px;

    cursor: pointer;
    font-family: inherit;
    color: var(--white-color);
    background-color:var(--back-color);
    font-weight: 700;
    font-size: 16px;
    line-height:1.9;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

/*index section */

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.standart{
    padding-top: 0;
}

.section-title{
    margin-bottom: 50px;

    color: var(--primary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.title-shadow{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
}

.title-border {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.thumb{
    display: flex;
    height: 120px;
    background-color: var(--primary-bg-color);
    border-radius: 4px;
    margin-bottom: var(--card-gap);
    align-items: center;
    justify-content: center;
}

 .features-icons{
    display: flex;
    width: 70px;
    height: 70px;
}

.studio-title{
    margin-bottom: 10px;

    color: var(--primary-color);
    font-weight: 700;  
    font-size: 14px;
    line-height:1.14;
    text-transform: uppercase;
}

.standart-list{
    --card-item: 3;
}

.section-team{
    background-color:var(--primary-bg-color);
}

.team-wraper{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--white-color);
}

.team-name{
    margin-bottom: 10px;

    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height:1.19;
    text-align: center;
}

.team-work{
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height:1.19;
    text-align: center;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    color: var(--border-icon);
    background-color: var(--white-color);
    border-radius: 50%;

}

.social-link:hover,
.social-link:focus{
    background-color: var(--blue-color);
    --color4: var(--white-color);
}

/* section portfolio*/

.portfolio-set{
    --card-gap: 30px;
    --card-item: 3;
}

.wraper-portfolio{
    padding:20px 24px;

    border: 1px solid var(--border-color);
    background:var(--white-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);

}

.portfolio-title{
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--primary-color);

}

.portfolio-text{
   
    font-size: 16px;
    line-height:1.9;
    letter-spacing: 0.06em;
}

.portfolio-link{
    display: inline-block;
}

.portfolio-link:hover, 
.portfolio-link:focus{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
}

/*section-clients*/

.clients-container{
    --card-item:6;
}

.clients-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;

    border: 1px solid currentColor;
    border-radius: 4px;
    color: var(--border-icon);
}

.clients-icons{
    fill: currentColor;
}

.clients-link:hover,
.clients-link:focus{
    color: var(--blue-color);

}

/*footer*/

.footer-container{
    display: flex;
    align-items: baseline;
    gap: 70px;
}

.footer{
    padding-top: 60px;
    padding-bottom: 60px;

    background:var(--footer-color);
}

.footer
.logo{
    display: block;
    margin-bottom: 20px;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 9px;

}

.footer:hover, .footer:focus {
    color: var(--primary-color);
}

.web:hover, .web:focus{
    color: var(--white-color);
}

/*address*/

.address{
    color:var(--footer-primary-color);
    font-style: inherit;
}

.logo-white{
    color: var(--white-color);
}

.logo-white:hover, .logo-white:focus{
    color: var(--blue-color);
}

.address-link{
    color: var(--white-color);
}

.address-link:hover, .address-link:focus {
    color: var(--blue-color);
}

.address-mail:hover, .address-mail:focus{
    color: var(--blue-color);
}

.address-phone:hover, .address-phone:focus{
    color: var(--blue-color);
}

/** Footer-social **/

.footer-come {
    font-weight: 700;
    font-size: 14px;
    line-height:1.14;
    text-transform: uppercase;

    align-items: baseline;
    

    color: var(--white-color);
    margin-bottom: 20px;
}

.footer-social .social-link{
    background-color: var(--footer-bg-icon);
    --color4:var(--white-color);
}

.footer-social .social-link:hover, 
.social-link:focus{
    background-color: var(--blue-color);

}
